@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .status-pill {
    @apply px-2 py-1 rounded-full text-[10px] font-bold uppercase tracking-wider border;
  }
  .status-pill-green {
    @apply bg-emerald-50 text-emerald-700 border-emerald-200 font-bold;
  }
  .status-pill-yellow {
    @apply bg-amber-50 text-amber-700 border-amber-200 font-bold;
  }
  .status-pill-red {
    @apply bg-rose-50 text-rose-700 border-rose-200 font-bold;
  }
  .status-pill-blue {
    @apply bg-odoo-teal/10 text-odoo-teal border-odoo-teal/20 font-bold;
  }
}
